.container{
    height: 320px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFCEA;
    font-family: "Poppins";
    margin:80px 0;
}

.logos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.container p{
    /* color: linear-gradient(91.98deg, #8846EF 1.46%, #EBCB2E 57.17%); */
    font-size: 44px;
    color: #374957;
    font-weight: 700;
}

.container p span{
    font-size: 48px;
  font-weight: bold;
  background: linear-gradient(92.04deg, #B73BBE 49.96%, #EBCB2E 99.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}