.chips{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 260px;
    height: 40px;
    border: 1px solid #FFF4C5;
    background: #FFFCEA;
    color: #BB5302;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 4px;
    margin-right: 10px;
}